/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "colors.css", dst = "~/.config/" }
 */

:root {
    --wallpaper: url("/home/kyrasarii/Wallpapers/69.jpg");

    /* Special */
    --background: #16101C;
    --foreground: #F6F9FA;
    --cursor: #B9CFED;

    /* Colors */
    --color0:  #3D3844;
    --color1:  #6895CF;
    --color2:  #7BA4DF;
    --color3:  #9BCAF5;
    --color4:  #C0CEF2;
    --color5:  #DEDEE8;
    --color6:  #E6EFF2;
    --color7:  #EAEEF0;
    --color8:  #A4A7A8;
    --color9:  #6895CF;
    --color10: #7BA4DF;
    --color11: #9BCAF5;
    --color12: #C0CEF2;
    --color13: #DEDEE8;
    --color14: #E6EFF2;
    --color15: #EAEEF0;
}
