/* Walker color variables for wallust */
@define-color foreground #FCF7FD;
@define-color background #10110E;
@define-color cursor #B4B2C7;

/* Colors */
@define-color color0  #383937;
@define-color color1  #A33A85;
@define-color color2  #6B6C92;
@define-color color3  #EE074B;
@define-color color4  #9193DA;
@define-color color5  #C597CF;
@define-color color6  #F7E8F8;
@define-color color7  #F2EBF3;
@define-color color8  #AAA5AA;
@define-color color9  #A33A85;
@define-color color10 #6B6C92;
@define-color color11 #EE074B;
@define-color color12 #9193DA;
@define-color color13 #C597CF;
@define-color color14 #F7E8F8;
@define-color color15 #F2EBF3;

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
}

#cfgerr {
  background: rgba(255, 0, 0, 0.9);
  margin-top: 20px;
  padding: 8px;
  font-size: 1.2em;
}

#window {
  color: @foreground;
}

#box {
  border-radius: 10px;
  background: alpha(@background, 0.98);
  padding: 32px;
  border: 2px solid alpha(@color1, 0.5);
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

#search {
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.22);
  background: alpha(@color0, 0.9);
  padding: 8px;
  border-radius: 8px;
}

#prompt {
  margin-left: 4px;
  margin-right: 12px;
  color: @foreground;
  opacity: 0.2;
}

#clear {
  color: @foreground;
  opacity: 0.8;
}

#password,
#input,
#typeahead {
  border-radius: 10px;
}

#input {
  background: alpha(@color0, 0.6);
}

#password {
}

#spinner {
  padding: 8px;
}

#typeahead {
  color: @foreground;
  opacity: 0.8;
}

#input placeholder {
  opacity: 0.5;
}

#list {
}

child {
  padding: 8px;
  border-radius: 10px;
}

child:selected,
child:hover {
  background: alpha(@color1, 0.4);
}

#item {
}

#icon {
  margin-right: 8px;
}

#text {
}

#label {
  font-weight: 500;
}

#sub {
  opacity: 0.5;
  font-size: 0.8em;
}

#activationlabel {
}

#bar {
}

.barentry {
}

.activation #activationlabel {
}

.activation #text,
.activation #icon,
.activation #search {
  opacity: 0.5;
}

.aiItem {
  padding: 10px;
  border-radius: 10px;
  color: @foreground;
  background: alpha(@background, 0.9);
}

.aiItem.user {
  padding-left: 0;
  padding-right: 0;
}

.aiItem.assistant {
  background: alpha(@color0, 0.7);
}
