* {
    selected-text:	#463D41;
    selected-background: #BE3068;

    prompt-text: #463D41;
    prompt-background: #1F161A;

    normal-text: #FFF6DD;
    normal-background: #1F161A;

    window-border: #33071E;
    window-background: #1F161A, 0.9;

    scrollbar-filled: #BE3068;
    scrollbar-empty: #463D41;

    error-message: #F6EAC6;
    error-message-border: #F6EAC6;
}
