* {
    selected-text:	#393A3D;
    selected-background: #6B8D64;

    prompt-text: #393A3D;
    prompt-background: #111215;

    normal-text: #D9E5D2;
    normal-background: #111215;

    window-border: #4F786A;
    window-background: #111215;

    scrollbar-filled: #6B8D64;
    scrollbar-empty: #393A3D;

    error-message: #C0D1B7;
    error-message-border: #C0D1B7;
}
