/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "colors.css", dst = "~/.config/" }
 */

:root {
    --wallpaper: url("/home/kayra/wallpapers/89.jpg");

    /* Special */
    --background: #00000C;
    --foreground: #F4F0F6;
    --cursor: #BC9CAC;

    /* Colors */
    --color0:  #00000C;
    --color1:  #374067;
    --color2:  #844862;
    --color3:  #BD7D8E;
    --color4:  #878DBD;
    --color5:  #A8CCDD;
    --color6:  #E0D4E6;
    --color7:  #E7E1EA;
    --color8:  #A29EA4;
    --color9:  #374067;
    --color10: #844862;
    --color11: #BD7D8E;
    --color12: #878DBD;
    --color13: #A8CCDD;
    --color14: #E0D4E6;
    --color15: #E7E1EA;
}
