/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "colors.css", dst = "~/.config/" }
 */

:root {
    --wallpaper: url("/home/kyrasarii/Wallpapers/193.png");

    /* Special */
    --background: #302E38;
    --foreground: #E7E2F1;
    --cursor: #9F97BA;

    /* Colors */
    --color0:  #55535D;
    --color1:  #343163;
    --color2:  #574C84;
    --color3:  #565889;
    --color4:  #836CA4;
    --color5:  #B58CCB;
    --color6:  #BAADD6;
    --color7:  #D4CEE2;
    --color8:  #94909E;
    --color9:  #343163;
    --color10: #574C84;
    --color11: #565889;
    --color12: #836CA4;
    --color13: #B58CCB;
    --color14: #BAADD6;
    --color15: #D4CEE2;
}
